<div class="container mt-80">
  <div class="responsive-container-540">
    <h2 class="form-title">ユーザー新規登録</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-5">
        <div class="label-container">
          <%= f.label :name, class: "form-label" %>
          <span class="minimum-length"><%= "(#{User::MAX_USER_NAME_LENGTH}文字以下)" %></span>
          <span class="required-mark">必須</span>
        </div>
        <%= f.text_field :name, autofocus: true, autocomplete: "username", class: "form-control", required: true %>
      </div>

      <div class="field mb-5">
        <div class="label-container">
          <%= f.label :email, class: "form-label" %><span class="required-mark">必須</span>
        </div>
        <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true %>
      </div>

      <div class="field mb-5">
        <div class="label-container">
          <%= f.label :password, class: "form-label" %>
          <span class="minimum-length"><%= "（#{@minimum_password_length}文字以上）" if @minimum_password_length %></span>
          <span class="required-mark">必須</span>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
      </div>

      <div class="field mb-5">
        <div class="label-container">
          <%= f.label :password_confirmation, class: "form-label" %><span class="required-mark">必須</span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
      </div>

      <div class="actions mb-3 pt-4 d-grid mx-auto">
        <%= f.submit "登録", class: "btn" %>
      </div>
    <% end %>

    <div class="consent-decree">
      <p>ユーザーが本サービスへの登録申込をしたことをもって<%= link_to "利用規約", terms_of_service_path, class: "text-info" %>および<%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-info" %>のすべての条項に同意したものとみなします。</p>
    </div>

    <div class="login-link">
      <%= link_to "ログインはこちら", user_session_path %>
    </div>
  </div>
</div>
