<div class="container">
  <div class="row">
    <div class="col px-4">
      <%= link_to user_followings_path(@user) do %>
        <h2 class="form-title fw-normal">フォロー</h2>
      <% end %>
    </div>
    <div class="col px-4">
      <h2 class="form-title border-bottom border-dark border-4">フォロワー</h2>
    </div>
  </div>

  <div>
    <h4 class="text-center fs-1 mb-5"><%= @user.name %>のフォロワー一覧</h4>
  </div>

  <div class="lists">
    <% @users.each do |user| %>
      <div class="list-item">
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to mygadgets_user_path(user.id) do %>
            <div class="info-container">
              <div class="icon-image-sm">
                <%= user_avatar_image_tag(user) %>
              </div>
              <div class="user-name-only">
                <p class="user-name"><%= user.name %></p>
              </div>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <div id="follow-form-<%= user.id %>">
              <%= render 'shared/follow-and-unfollow', user: user %>
            </div>
          <% end %>
        </div>
        <div class="user-introduction">
          <p><%= user.introduction %></p>
        </div>
        <div class="detail-link-container">
          <P><%= link_to "＞ ユーザー詳細へ", users_path(user.id), class: "btn detail-link" %></P>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>
