<p id="notice"><%= notice %></p>

<h2>ユーザー一覧</h2>

<div>
  <% @users.each do |user| %>
    <div>
      <%= link_to user_mygadgets_path(user.id) do %>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(resize_to_limit: [100, 100]) %>
        <% end %>
        <p><%= user.name %></p>
      <% end %>
    </div>
    <% if user.gadgets.any? %>
      <div>
        <h4>登録ガジェット</h4>
        <div class="gadgets">
          <% user.gadgets.each do |gadget| %>
            <div class="gadget">
              <%= image_tag gadget.image %>
              <p><%= link_to gadget.name, gadget_path(gadget.id) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
