<% content_for :title, "#{@user.name}さんのガジェット一覧" %>
<div class="container mt-5">
  <div class="responsive-container-720">
    <div class="user-info-and-link-profile">
      <div class="icon-image-lg">
        <%= user_avatar_image_tag(@user) %>
        <p><%= @user.name %></p>
      </div>
      <% if @user == current_user %>
        <div class="edit-profile-btn-container">
          <%= link_to "プロフィールを編集", edit_profile_user_path(@user.id), class: "btn edit-profile-btn" %>
        </div>
      <% else %>
        <% if user_signed_in? %>
          <div id="follow-form-<%= @user.id %>">
            <%= render 'shared/follow-and-unfollow', user: @user %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="inroduction">
      <p><%= @user.introduction ? safe_join(@user.introduction.split("\n"), tag(:br)) : '' %></p>
    </div>
    <div class="row mb-5">
      <div class="col text-center border-start border-end border-secondary border-2">
        <P class="fs-6">登録数</P>
        <P class="fw-bold fs-5"><%= @gadgets.count %></P>
      </div>
      <div class="col text-center">
        <%= link_to user_followings_path(@user) do %>
          <P class="fs-6">フォロー</P>
          <P class="fw-bold fs-5"><%= @user.followers.count %></P>
        <% end %>
      </div>
      <div class="col text-center border-start border-end border-secondary border-2">
        <%= link_to user_followers_path(@user) do %>
          <P class="fs-6">フォロワー</P>
          <P class="fw-bold fs-5"><%= @user.followings.count %></P>
        <% end %>
      </div>
    </div>
    <div class="mypage-link-lists row justify-content-center">
      <div class="col">
        <p class="current-page text-center"><span>My ガジェット</span></p>
      </div>
      <div class="col">
        <p class="link-page text-center"><%= link_to "お気に入り", favorites_user_path(@user.id) %></p>
      </div>
    </div>
    <div class="mygadget-lists">
      <%# １ガジェットに複数カテゴリーの場合でも１カテゴリー毎に表示 %>
      <% category_gadgets = @gadgets.flat_map { |gadget| gadget.category_list.map { |category| [category, gadget] } }.group_by(&:first) %>
      <% category_gadgets.each do |category, gadgets_with_category| %>
        <div class="category-container">
          <h4><%= category %></h4>
          <% gadgets_with_category.each do |_, gadget| %>
            <div class="mygadget-detail mt-4">
              <% if gadget.image.present? %>
                <div class="gadget-image" >
                  <%= image_tag gadget.image %>
                </div>
              <% end %>
              <div class="gadget-name">
                <h5><%= gadget.name %></h5>
              </div>
              <%# いいねとコメント %>
                <div class="likes-and-comments-container d-flex fs-4">
                  <div class="likes" id="likes-<%= gadget.id %>">
                    <%= render partial: 'shared/likes', locals: {gadget: gadget} %>
                  </div>
                  <div class="comments">
                    <%= link_to gadget_comments_path(gadget.id), class: "ms-5" do %>
                      <i class="fa-regular fa-message me-2" style="color: #393e46;"></i> <span><%= gadget.comments.count %></span>
                    <% end %>
                  </div>
                </div>
              <div class="detail-link-container">
                <%= link_to "＞ 投稿詳細へ", gadget_path(gadget), class: "btn detail-link" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if current_user == @user %>
      <div class="gadget-new-registration-btn-container">
        <%= link_to "＋新規登録", new_gadget_path, class: "btn gadget-new-registration-btn" %>
      </div>
    <% end %>
  </div>
</div>

