<% content_for :title, "パスワード再設定" %>
<div class="container mt-80">
  <div class="responsive-container-540">
    <h2 class="form-title mb-3">パスワード変更</h2>
    <p class="form-title-description text-center">新しいパスワードを設定してください</p>

    <%= form_with model: @user, url: user_password_path, method: :put, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field mb-5">
        <div class="label-container">
          <%= f.label :new_password, class: "form-label" %>
          <span class="minimum-length"><%= "（#{@minimum_password_length}文字以上）" if @minimum_password_length %></span>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mb-5">
        <div class="label-container">
          <%= f.label :new_password_confirmation, class: "form-label" %>
          <span class="minimum-length"><%= "（#{@minimum_password_length}文字以上）" if @minimum_password_length %></span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions mb-5 pt-4 d-grid mx-auto">
        <%= f.submit "更新", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
