<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.jpg", size: "130x40" %>
      <% end %>
      <div class="avatar-wrapper">
        <a class="avatar-link" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag current_user.avatar, class: "rounded-circle", size: "40x40" %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><%= link_to "マイページ", mygadgets_user_path(current_user.id), class: "dropdown-item" %></li>
          <li><%= link_to "ガジェット登録", new_gadget_path, class: "dropdown-item" %></li>
          <li><%= link_to "ユーザー一覧", users_path, class: "dropdown-item" %></li>
          <li><%= link_to "新着投稿一覧", gadgets_path, class: "dropdown-item" %></li>
          <li><%= link_to "アカウント情報", account_user_path(current_user.id), class: "dropdown-item" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
          <li><%= link_to "お問い合わせ", root_path, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
</header>
