<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.jpg", size: "130x40" %>
      <% end %>
      <div class="humberger-wrapper">
        <a class="avatar-link" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><%= link_to "新規登録", new_user_registration_path, class: "nav-link active", 'aria-current': "page" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
          <li><%= link_to "ユーザー一覧", users_path, class: "nav-link" %></li>
          <li><%= link_to "新着投稿一覧", gadgets_path, class: "nav-link" %></li>
          <li><%= link_to "お問い合わせ", root_path, class: "nav-link" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
