  <div class="container">
    <p id="notice"><%= notice %></p>

    <h2 class="form-title">新着投稿一覧</h2>

    <div class="lists">
      <% @gadgets.each do |gadget| %>
        <div class="list-item">
          <div class="post-container">
            <div class="content">
              <%= link_to user_mygadgets_path(gadget.user.id) do %>
                <div class="info-container">
                  <div class="icon-image-sm">
                    <%= image_tag gadget.user.avatar %>
                  </div>
                  <div class="user-name-and-creationdate">
                    <p class="user-name"><%= gadget.user.name %></p>
                    <p class="creationdate"><%= gadget.created_at %></p>
                  </div>
                </div>
              <% end %>
              <p class="gadget-name"><%= gadget.name %></p>
              <p class="gadget-category"><%= gadget.category %></p>
            </div>
            <div class="gadget-image-md">
              <%= image_tag gadget.image, size: "125x110" %>
            </div>
          </div>
          <div class="detail-link-container">
            <%= link_to "＞ 投稿詳細へ", gadget_path(gadget), class: "btn detail-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @gadgets %>
  </div>
