<p id="notice"><%= notice %></p>

<h2>新着投稿一覧</h2>

<div>
  <% @gadgets.each do |gadget| %>
    <div>
      <%= gadget.user.avatar %>
      <p><%= gadget.user.name %></p>
      <p><%= gadget.created_at %></p>
    </div>
    <div>
      <h4><%= gadget.name %></h4>
      <p><%= gadget.category %></p>
      <p><%= gadget.start_date %></p>
      <p><%= gadget.feature %></p>
      <p><%= gadget.point %></p>
      <p><%= gadget.usage %></p>
      <p><%= gadget.reason %></p>
    </div>
    <div>
      <%= image_tag gadget.image %>
    </div>
  <% end %>
</div>


<%= link_to 'New Gadget', new_gadget_path %>
