<p id="notice"><%= notice %></p>

<h2>新着投稿一覧</h2>

<div>
  <% @gadgets.each do |gadget| %>
    <div>
      <%= image_tag gadget.user.avatar %>
      <p><%= gadget.user.name %></p>
      <p><%= gadget.created_at %></p>
    </div>
    <div>
      <h4><%= gadget.name %></h4>
      <p><%= gadget.category %></p>
      <p><%= gadget.start_date %></p>
      <p><%= safe_join(gadget.feature.split("\n"),tag(:br)) %></p>
      <p><%= safe_join(gadget.point.split("\n"),tag(:br)) %></p>
      <p><%= safe_join(gadget.usage.split("\n"),tag(:br)) %></p>
      <p><%= safe_join(gadget.reason.split("\n"),tag(:br)) %></p>
    </div>
    <div>
      <%= image_tag gadget.image %>
    </div>
  <% end %>
</div>


<%= link_to 'New Gadget', new_gadget_path %>
