  <div class="container mt-80">
    <p id="notice"><%= notice %></p>

    <h2 class="form-title">新着投稿一覧</h2>

    <div class="lists">
      <div class="row g-4">
        <% @gadgets.each do |gadget| %>
          <div class="col-md-6 col-xxl-4">
            <div class="list-item">
              <div class="post-container">
                <div class="content">
                  <%= link_to mygadgets_user_path(gadget.user.id) do %>
                    <div class="info-container">
                      <div class="icon-image-sm">
                        <%= user_avatar_image_tag(gadget.user) %>
                      </div>
                      <div class="user-name-and-creationdate-sm">
                        <p class="user-name-sm"><%= gadget.user.name %></p>
                        <p class="creationdate-sm"><%= gadget.created_at.to_s(:default) %></p>
                      </div>
                    </div>
                  <% end %>
                  <p class="gadget-name"><%= gadget.name %></p>
                  <p class="gadget-category"><%= gadget.category %></p>
                  <%# いいねとコメント %>
                  <div class="likes-and-comments-container">
                    <div class="likes-and-comments" id="likes-and-comments-<%= gadget.id %>">
                      <%= render partial: 'shared/likes_and_comments', locals: {gadget: gadget} %>
                      <%= link_to gadget_comments_path(gadget.id), class: "ms-5" do %>
                        <i class="fa-regular fa-message fs-2" style="color: #393e46;"></i> <span class="fs-2 ms-2"><%= gadget.comments.count %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="gadget-image-md">
                  <%= image_tag gadget.image %>
                </div>
              </div>
              <div class="detail-link-container">
                <%= link_to "＞ 投稿詳細へ", gadget_path(gadget), class: "btn detail-link" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= paginate @gadgets %>
  </div>
