<% content_for :title, "投稿一覧" %>
<div class="container mt-80">
  <h2 class="form-title">投稿一覧</h2>
  <div class="d-flex">
    <div class="btn-group dropdown ms-auto">
      <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        並び替え
      </button>
      <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "新着順", gadgets_path(order: 'new'), class: "dropdown-item text-dark active", id: "new_order", remote: true %></li>
        <li><%= link_to "古い順", gadgets_path(order: 'older'), class: "dropdown-item text-dark", id: "older_order", remote: true %></li>
        <li><%= link_to "人気順", gadgets_path(order: 'ranking'), class: "dropdown-item text-dark", id: "ranking_order", remote: true %></li>
        <li><%= link_to "昇順(ガジェット名)", gadgets_path(order: 'name_asc'), class: "dropdown-item text-dark", id: "name_asc_order", remote: true %></li>
        <li><%= link_to "降順(ガジェット名)", gadgets_path(order: 'name_desc'), class: "dropdown-item text-dark", id: "name_desc_order", remote: true %></li>
        <li><%= link_to "昇順(カテゴリー)", gadgets_path(order: 'category_asc'), class: "dropdown-item text-dark", id: "category_asc_order", remote: true %></li>
        <li><%= link_to "降順(カテゴリー)", gadgets_path(order: 'category_desc'), class: "dropdown-item text-dark", id: "category_desc_order", remote: true %></li>
      </ul>
    </div>
  </div>
  <div class="lists">
    <%= render 'shared/gadgets_index_order', gadgets: @gadgets %>
  </div>
</div>
