<div class="title">
  <div class="wrapper">
    <div class="app-name">
      <h1>OshiGadge</h1>
      <h4>−推しガジェ−</h4>
    </div>
    <div class="description">
      <p>自分の推しのガジェットを共有しよう</P>
      <p>あの人が使っている推しガジェットをチェックしよう</p>
    </div>
  </div>
</div>
<% unless user_signed_in? %>
  <div class="registration-and-login">
    <div class="registration-button">
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn registration">新規登録</button>
      <% end %>
    </div>
    <div class="login-button">
      <%= link_to new_user_session_path do %>
        <button type="button" class="btn login">ログイン</button>
      <% end %>
      <%= link_to users_guest_sign_in_path do %>
        <button type="button" class="btn guest-login">ゲストログイン</button>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="lists-title">
    <h2>新着投稿一覧</h2>
    <%= link_to "新着投稿一覧はこちら", gadgets_path %>
  </div>
  <div class="lists">
    <% @gadgets.each do |gadget| %>
      <div class="list-item">
        <div class="post-container">
          <div class="content">
            <%= link_to mygadgets_user_path(gadget.user.id) do %>
              <div class="info-container">
                <div class="icon-image-sm">
                  <%= image_tag gadget.user.avatar %>
                </div>
                <div class="user-name-and-creationdate-sm">
                  <p class="user-name-sm"><%= gadget.user.name %></p>
                  <p class="creationdate-sm"><%= gadget.created_at %></p>
                </div>
              </div>
            <% end %>
            <p class="gadget-name"><%= gadget.name %></p>
            <p class="gadget-category"><%= gadget.category %></p>
            <%# いいねとコメント %>
            <div class="likes-and-comments-container">
              <div class="likes-and-comments" id="likes-and-comments-<%= gadget.id %>">
                <%= render partial: 'shared/likes_and_comments', locals: {gadget: gadget} %>
                <%= link_to gadget_comments_path(gadget.id), class: "ms-5" do %>
                  <i class="fa-regular fa-message fs-2" style="color: #393e46;"></i> <span class="fs-2 ms-2"><%= gadget.comments.count %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="gadget-image-md">
            <%= image_tag gadget.image, size: "125x110" %>
          </div>
        </div>
        <div class="detail-link-container">
          <%= link_to "＞ 投稿詳細へ", gadget_path(gadget), class: "btn detail-link" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="list-link-container">
    <%= link_to "新着投稿一覧はこちら", gadgets_path, class: "btn list-link" %>
  </div>
</div>
<div class="container">
  <div class="lists-title">
    <h2>ユーザー一覧</h2>
    <%= link_to "ユーザー一覧はこちら", users_path %>
  </div>
  <div class="lists">
    <% @users.each do |user| %>
      <div class="list-item">
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to mygadgets_user_path(user.id) do %>
            <div class="info-container">
              <div class="icon-image-sm">
                <%= image_tag user.avatar %>
              </div>
              <div class="user-name-only">
                <p class="user-name"><%= user.name %></p>
              </div>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <div id="follow-form-<%= user.id %>">
              <%= render 'shared/follow-and-unfollow', user: user %>
            </div>
          <% end %>
        </div>
        <div class="gadget-image-sm">
          <% user.gadgets.each do |gadget| %>
            <%= link_to gadget_path(gadget.id) do %>
              <%= image_tag gadget.image, size: "65x65" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= link_to user_followings_path(user) do %>
            <span class="fs-5"><strong><%= user.followings.count %></strong> フォロー</span>
          <% end %>
          <%= link_to user_followers_path(user) do %>
            <span class="fs-5 ms-4"><strong><%= user.followers.count %></strong> フォロワー</span>
          <% end %>
        </div>
        <div class="detail-link-container">
          <P><%= link_to "＞ ユーザー詳細へ", users_path(user.id), class: "btn detail-link" %></P>
        </div>
      </div>
    <% end %>
  </div>
  <div class="list-link-container">
    <P><%= link_to "ユーザー一覧はこちら", users_path, class: "btn list-link" %></P>
  </div>
</div>
