<!DOCTYPE html>
<html>
  <head>
    <title>OshiGadge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/login_user_header' %>
    <% else %>
      <%= render 'shared/logout_user_header' %>
    <% end %>

    <% if flash[:notice] %>
      <p class="notice text-center bg-secondary text-light fs-3 mb-0"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert text-center bg-danger text-light fs-3 mb-0"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
